@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --clr-titles: #35323E;
  --clr-texts: #9E9AA7;
  --clr-blue: #2ACFCF;
  --clr-purple: #3B3054;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 1.312rem;
}
li{
  margin-bottom: 0.5rem;
}
h2{
  font-size:1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  background-color: var(--clr-blue);
  color: white;
  font: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 3.125rem;
  border: none;
  cursor: pointer;
}

.brandName{
  color:var(--clr-titles);
  font-size:2.25rem
}